<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigstep.mylibrary">

    <application>
        <activity
            android:name="com.bigstep.mylibrary.TestActivity"
            android:exported="false" />
    </application>

</manifest>